.rules_container_outer {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 84px;
  left: 0;
  z-index: 10;
  /* padding: 16px; */
  color: #fff;
  background-color: #fff; /*#281B3A;*/
  overflow: auto;
}

.rules_sign_container {
  background-color: #fff;
  color: #191919;
  padding: 50px 16px 16px 16px;
  border-top: 2px solid #8de5db;
}

.btn_rules {
  text-align: right;
}

.img_center_container {
  width: 70%;
  margin: 0 auto;
  /* text-align: center; */
  height: 200px;
  background-image: url("../dealer_rules_1000.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 500px) {
  .img_center_container {
    width: 55%;
  }
}

@media (min-width: 700px) {
  .img_center_container {
    width: 35%;
  }
}

@media (min-width: 1000px) {
  .img_center_container {
    width: 20%;
  }
}