.rules_container {
  max-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 84px;
  left: 0;
  z-index: 10;
  padding: 16px;
  color: #fff;
  background-color: #281B3A;
  overflow: auto;
}

.btn_rules {
  text-align: right;
}