.App {
  color: #fff;
  background-color: #281B3A;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 16px;
  border-bottom: 1px solid #fff;
}

.title {
  font-family: 'Sancreek', cursive;
  font-size: 1.5rem;
}

h1,
h2 {
  font-family: 'Fondamento', cursive;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

main {
  padding: 16px;
}
